.secondary-news-list {
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 30px;
}

.secondary-news-list .news-item-title {
    font-size: 14px;
}

.secondary-news-list .news-item a {
    display: flex;
    column-gap: 20px;
}

.secondary-news-list .image-wrapper img {
    height: 80px;
    width: 120px;
}

@media (max-width: 950px) {
    .secondary-news-list {
        grid-template-columns: 1fr;
    }
}

@media (max-width: 750px) {
    .secondary-news-list {
        grid-template-columns: 1fr 1fr;
    }
}

@media (max-width: 600px) {
    .secondary-news-list {
        grid-template-columns: 1fr;
    }
}